<div>
    <div class="row">
        <!-- <a><button [hidden]="!isAuthorized" routerLink="/products/barcode/new" type="button" -->
        <!-- "TODO add Reports" -->
        <a><button routerLink="/products/new" type="button" class="btn btn-outline-primary btn-sm">
                Reports</button></a>
    </div>
    <div>
        <app-add-product></app-add-product>
        <app-add-car-type></app-add-car-type>
        <app-add-barcode></app-add-barcode>
        <br>
        <app-add-car-model></app-add-car-model>
        <app-add-product-category></app-add-product-category>
        <app-add-city></app-add-city>
    </div>
</div>